<?xml version='1.0' encoding='utf-8'?>
<Statement version='1'>

<sql id='getTopMenu01'><![CDATA[
 SELECT MENU.C_CD,
        MENU.PROFL_ID,
        MENU.MDUL_ID,
        MDUL.MDUL_NM,
        MDUL.ODR_NO
   FROM (SELECT DISTINCT C_CD, PROFL_ID, MDUL_ID FROM TSYAU0107) MENU,
        TSYAU0105 AUTH, 
        TSYAU0101 MDUL
  WHERE 1=1
    AND MENU.C_CD = AUTH.C_CD
    AND MENU.PROFL_ID = AUTH.PROFL_ID(+)
    AND MENU.C_CD = MDUL.C_CD
    AND MENU.MDUL_ID = MDUL.MDUL_ID
    AND AUTH.C_CD = :C_CD
    AND AUTH.USER_ID = :USER_ID
  ORDER BY MDUL.ODR_NO
]]></sql>

<sql id='getLeftMenu01'><![CDATA[
SELECT MENU.C_CD,
        LEVEL LV,
        MENU.MENU_ID,
        MENU.MENU_NM,
        MENU.PROFL_ID,
        MENU.MDUL_ID,
        MDUL.MDUL_NM,
        MENU.ENG_NM,
        MENU.MENU_TYPE_CD,
        MENU.PAR_MENU_ID,
        MENU.PGM_ID,
        CONNECT_BY_ISLEAF AS NODE_END_YN,
        SYS_CONNECT_BY_PATH(MENU.MENU_ID,'|') ID_PATH,
        SYS_CONNECT_BY_PATH(MENU.MENU_NM,'|') NM_PATH
   FROM TSYAU0101 MDUL,
        TSYAU0105 USER_AUTH,
        TSYAU0104 AUTH,
        TSYAU0107 MENU,
        TSYAU0108 AUTH_MENU
  WHERE 1=1
    AND USER_AUTH.C_CD = AUTH.C_CD
    AND USER_AUTH.PROFL_ID = AUTH.PROFL_ID    
    AND USER_AUTH.C_CD = AUTH_MENU.C_CD
    AND USER_AUTH.PROFL_ID = AUTH_MENU.PROFL_ID    
    AND AUTH_MENU.C_CD = MENU.C_CD
    AND AUTH_MENU.MENU_ID = MENU.MENU_ID    
    AND AUTH_MENU.PROFL_ID = MENU.PROFL_ID   
    AND MENU.C_CD = MDUL.C_CD
    AND MENU.MDUL_ID = MDUL.MDUL_ID  
    AND USER_AUTH.C_CD = :C_CD
    AND USER_AUTH.USER_ID = :USER_ID
<#if MDUL_ID?has_content>    
    AND MENU.MDUL_ID = :MDUL_ID 
</#if>
  START WITH AUTH_MENU.PAR_MENU_ID = '00000000'
CONNECT BY PRIOR AUTH_MENU.MENU_ID = AUTH_MENU.PAR_MENU_ID
  ORDER SIBLINGS BY AUTH_MENU.MDUL_ID, MENU.ODR_NO
]]></sql>

<sql id='getLocationMenu01'><![CDATA[
  SELECT 1 FROM DUAL
]]></sql>

<sql id='getProgram01'><![CDATA[
  SELECT * 
    FROM TSYAU0102
   WHERE C_CD = :C_CD
     AND PGM_ID = :PGM_ID
     AND PGM_ID IN (SELECT MENU.PGM_ID 
                      FROM TSYAU0105 USER_AUTH,
					       TSYAU0104 AUTH,
					       TSYAU0107 MENU,
                           TSYAU0108 AUTH_MENU
                     WHERE 1=1
					   AND USER_AUTH.C_CD = AUTH.C_CD
					   AND USER_AUTH.PROFL_ID = AUTH.PROFL_ID    
					   AND USER_AUTH.C_CD = AUTH_MENU.C_CD
					   AND USER_AUTH.PROFL_ID = AUTH_MENU.PROFL_ID    
					   AND AUTH_MENU.C_CD = MENU.C_CD
					   AND AUTH_MENU.MENU_ID = MENU.MENU_ID    
					   AND AUTH_MENU.PROFL_ID = MENU.PROFL_ID   
					   AND USER_AUTH.C_CD = :C_CD
					   AND USER_AUTH.USER_ID = :USER_ID
                    )
]]></sql>

<sql id='getQuickMenu01'><![CDATA[
  SELECT 1 FROM DUAL
]]></sql>

</Statement>