<%--
  Program Name : dbTest.jsp
  Description  :
  History      : 2017. 7. 22.
  Author       : HHG
--%>
<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<%@ taglib prefix="sql" uri="http://java.sun.com/jsp/jstl/sql" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib prefix="sec" uri="http://www.springframework.org/security/tags" %>
<%@ page contentType="text/html;charset=UTF-8" session="true" %>
<sql:query var="rs" dataSource="jdbc/hamiDB">
    select username, password from users where rownum < 20
</sql:query>
<html>
<head>
    <title>DB Test</title>
</head>
<body>
<sec:authorize access="hasRole('ROLE_ADMIN')">

    This content will only be visible to users who have
    the "supervisor" authority in their list of <tt>GrantedAuthority</tt>s.

</sec:authorize>
<h2>Results</h2>
<table  border="1sa">
    <tr>
        <th>Username</th>
        <th>Password</th>
    </tr>
    <c:forEach var="row" items="${rs.rows}">
    <tr>
        <td> ${row.username} </td>
        <td> ${row.password} </td>
    </tr>
    </c:forEach>
</table>

</body>
</html>