<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <div th:replace="com/inc/head.html :: head">
        <!-- @head -->
    </div>
</head>
<body>
<div id="left" th:replace="com/inc/left.html :: left">
    <!-- @menu -->
</div>
<div id="top" th:replace="com/inc/top.html :: top">
    <!-- @top -->
</div>
<div id="bizContent" th:replace="com/inc/home.html :: home">
    <!-- @contents -->
</div>
<div id="footer" th:replace="com/inc/footer.html :: footer">
    <!-- @footer -->
</div>
<div id="scripts" th:replace="com/inc/scripts.html :: scripts">
    <!-- @footer -->
</div>
<div id="treeGridInit"></div>
</body>
</html>
