<!DOCTYPE html>
<html lang="en">
<head>
  <title>404 - Pages - PixelAdmin: Responsive Bootstrap Template</title>

  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin" rel="stylesheet" type="text/css">
  <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css">
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <style>
    .page-404-bg {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    .page-404-text {
      font-size: 15px;
      text-align: center;
      padding: 30px;
      margin: 0px;
    }

  </style>
  <!-- / Custom styling -->
</head>
<body class="error">
  <div class="alert alert-info">
    <h3 class="page-404-text"><i class="ion-alert-circled"></i> 프로그램이 존재하지 않거나 접근 권한이 없습니다.</h3>
  </div>
</body>

</html>
