<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="utf-8">
<body>
<program th:id="${programId}">
    <div class="tab-pane">
        <div class="row">
            <ol class="breadcrumb page-breadcrumb"><li>Home</li></ol>
        </div>
        <div class="ibox">
            <div class="ibox-title">
                <h3></h3>
                <div class="ibox-btn">
                    <button href="#" type="button" class="btn btn-sm btn-primary fa fa-search pull-right"> 조회</button>
                </div>
            </div>
            <div class="ibox-content">
                <table class="table table-bordered table-search">
                    <colgroup>
                        <col width="8%">
                        <col width="17%">
                        <col width="8%">
                        <col width="17%">
                        <col width="8%">
                        <col width="17%">
                        <col width="8%">
                        <col width="17%">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th>등록일자</th>
                        <td>
                            <div class="input-group input-daterange" id="datepicker-range">
                                <input type="text" class="form-control input-sm" id="schStaYmd" name="schStaYmd" value=""/>
                                <span class="input-group-addon">to</span>
                                <input type="text" class="form-control input-sm" id="schEndYmd" name="schEndYmd" value="" />
                            </div>
                        </td>
                        <th>아이디</th>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" id="schUserId" name="schUserId"/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm"><i class="btn-icon fa fa-search"></i></button>
                                </span>
                            </div>
                        </td>
                        <th>조직</th>
                        <td>
                            <div class="input-group type2">
                                <span class="w45p"><input type="text" id="condMngOrgId" class="form-control input-sm" readonly/></span>
                                <span class="input-group-btn">
                                    <button id="btnOpenMngOrg" class="btn btn-sm" type="button"><i class="btn-icon fa fa-search"></i></button>
                                </span>
                                <span class="w55p"><input type="text" id="condMngOrgNm" class="form-control input-sm" readonly /></span>
                            </div>
                        </td>
                        <th>소속</th>
                        <td>
                            <div class="input-group type2">
                                <span class="w45p"><input type="text" id="condSalesOrgId" class="form-control input-sm" readonly/></span>
                                <span class="input-group-btn">
                                    <button id="btnOpenSalesOrg" class="btn btn-sm" role="button"><i class="btn-icon fa fa-search"></i></button>
                                </span>
                                <span class="w55p"><input type="text" id="condSalesOrgNm" class="form-control input-sm" readonly /></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>지역</th>
                        <td>
                            <select id="conBizCndtCd" name="conBizCndtCd" class="form-control input-sm">
                                <option value="${bizCndtCdList.commCd}">:: 선택 ::</option>
                            </select>
                        </td>
                        <th>성별</th>
                        <td>
                            <select id="conIndutyCd" name="conIndutyCd" class="form-control input-sm">
                                <option value="">:: 선택 ::</option>
                                <option value="1">업종1</option>
                            </select>
                        </td>
                        <th>연락처</th>
                        <td>
                            <input id="conSvcCmpsId" name="conSvcCmpsId" type="text" class="form-control input-sm" />
                        </td>
                        <th>성명</th>
                        <td>
                            <input id="conCustNm" name="conCustNm" type="text" class="form-control input-sm" />
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="ibox">
            <div class="ibox-title">
                <h3>로그인정보</h3>
                <div class="ibox-btn">
                    <a href="#" type="button" class="btn btn-sm btn-primary fa fa-save pull-right"> 저장</a>
                    <a href="#" type="button" class="btn btn-sm ion-plus-round pull-right"> 추가</a>
                </div>
            </div>
        </div>
        <div id="tGrid">
            <div th:id="'tg_'+${programId}" style="width:100%; height:600px;"></div>
        </div>
    </div>
    <script>
        // -----------------------------------------------------------------------------------------
        // Initialize
        require(['jquery', 'px/extensions/bootstrap-datepicker'], function($) {
            $("#csrf").val("[[${_csrf.token}]]"); //CSRF 
            pxCom.setLocation('[[${programId}]]','[[${menuId}]]'); //Location
            
            $('#datepicker-features').datepicker({
                calendarWeeks:         true,
                todayBtn:              'linked',
                daysOfWeekDisabled:    '1',
                clearBtn:              true,
                todayHighlight:        true,
                multidate:             true,
                daysOfWeekHighlighted: '1,2',
                orientation:           'auto right',

                beforeShowMonth: function(date) {
                    if (date.getMonth() === 8) {
                        return false;
                    }
                },

                beforeShowYear: function(date){
                    if (date.getFullYear() === 2014) {
                        return false;
                    }
                }
            });
            $('#datepicker-range').datepicker();
            $('#datepicker-inline').datepicker();
            
        });
        
        // -----------------------------------------------------------------------------------------
        // Grid init
        var grid01 = [
            { Header: "아이디", Name: "LOGIN_ID", Width: "120", Type: "Text", Align:"Left", CanEdit: "1", CanSort: '1' },
            { Header: "계정명", Name: "USER_NM", Width: "150", RelWidth:'100', Type: "Text", Align:"Left" },
            { Header: "연결계정", Name: "USER_ID", Width: "120", Type: "Text", Align:"Left" },
            { Header: "시작일", Name: "STA_YMD", Width: "120", Type: "Date", Align:"Center", Format: "yyyy.MM.dd" },
            { Header: "종료일", Name: "END_YMD", Width: "120", Type: "Date", Align:"Center", Format: "yyyy.MM.dd" },
            { Header: "비밀번호", Name: "PASSWORD", Width: "150", Type: "Text", Align:"Left" },
            { Header: "비번변경일", Name: "PWD_U_DATE", Width: "120", Type: "Date", Align:"Center", Format: "yyyy.MM.dd" },
            { Header: "사용여부", Name: "ENABLED", Width: "120", Type: "Bool", Align:"Center" },
            { Header: "최종로그인", Name: "LOGIN_DATE", Width: "120", Type: "Date", Align:"Center", Format: "yyyy.MM.dd" },
            { Header: "로그인IP", Name: "LOGIN_IP", Width: "160", Type: "Text", Align:"Center" },
            { Header: "오류횟수", Name: "ERR_CNT", Width: "90", Type: "Int", Align:"Center" },
            { Header: "잠김여부", Name: "LOCK_YN", Width: "100", Type: "Bool", Align:"Center" },
            { Header: "잠김일자", Name: "LOCK_DATE", Width: "120", Type: "Date", Align:"Center", Format: "yyyy.MM.dd" },
            { Header: "관리자여부", Name: "SA_YN", Width: "110", Type: "Bool", Align:"Center" },
            { Header: "비고", Name: "NOTE", Width: "300", Type: "Text", Align:"Left" }
        ];

        GridInit(grid01, "tg_[[${programId}]]", null);
        
        require(['jquery'], function($) {
            var param = {
                serviceInfo: {
                    "RECV_SVC_CD": "UserInfo",
                    "LANG_CD": "KO"
                },
                ds_search: {
                    STA_YMD: $("#[[${programId}]] #schStaYmd").val(),
                    END_YMD: $("#[[${programId}]] #schEndYmd").val(),
                    USER_ID: $("#[[${programId}]] #schUserId").val(),
                    GRP_CD: 'COM_CD'
                }
            };
        	
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/doExcute",
                data: JSON.stringify(param),
                dataType: 'json',
                timeout: 100000,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRF-TOKEN", $("#csrf").val());
                },
                success: function (data) {
                    var gridData = [];
	                    gridData[0] = data.resultData.ds_result;
                    Grids["tg_[[${programId}]]"].Source.Data.Data.Body = gridData;
                    Grids["tg_[[${programId}]]"].ReloadBody();
                },
                error: function (e) {
                    console.log("ERROR: ", e);
                },
                done: function (e) {
                    console.log("DONE");
                    //enableSearchButton(true);
                }
            });
        })
    </script>
</program>
</body>
</html>