<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko">
<body>
<th:block th:fragment="left">
    <nav class="px-nav px-nav-left px-nav-fixed">
        <button type="button" class="px-nav-toggle" data-toggle="px-nav">
            <span class="px-nav-toggle-arrow"></span>
            <span class="navbar-toggle-icon"></span>
            <span class="px-nav-toggle-label font-size-11">HIDE MENU</span>
        </button>

        <ul class="px-nav-content">
            <li class="px-nav-box p-a-3 b-b-1" id="demo-px-nav-box">
                <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <img src="assets/common/avatars/1.jpg" th:src="@{/img/common/avatars/6.png}" alt="" class="pull-xs-left m-r-2 border-round" style="width: 54px; height: 54px;">
                <div class="font-size-16"><span class="font-weight-light">Welcome, </span><strong><span sec:authentication="name">Name</span></strong></div>
                <div class="btn-group" style="margin-top: 4px;">
                    <a href="#" class="btn btn-xs btn-primary btn-outline" onclick="toggleFullScreen()"><i class="fa fa-arrows-alt"></i></a>
                    <a href="#" class="btn btn-xs btn-primary btn-outline" pgmid="10009" menuid="11000000" tabNm="Account" onclick="pxCom.pgmOpen(this)"><i class="fa fa-user"></i></a>
                    <a href="#" class="btn btn-xs btn-primary btn-outline" data-toggle="sidebar" data-target="#px-sidebar"><i class="fa fa-cog"></i></a>
                    <a href="/logout" th:href="@{/logout}" class="btn btn-xs btn-danger btn-outline"><i class="fa fa-power-off"></i></a>
                </div>
            </li>
        </ul>
    </nav>

    <!-- /menu footer buttons -->
    <div class="sidebar-footer hidden-small">
        <a data-toggle="tooltip" data-placement="top" title="Settings">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
            <span id="screenfull" class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Lock">
            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Logout" href="/j_spring_security_logout" th:href="@{/logout}">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        </a>
    </div>
    <!-- /menu footer buttons -->
</th:block>
</body>
</html>