<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<body class="  ">
<program th:id="${programId}">
<div class="bg-dark dk" id="fw_wrap">
    <div id="content" class="starter-template">
        <div class="tab-pane">
            <div class="row">
                <ol class="breadcrumb page-breadcrumb"><li>Home</li></ol>
            </div>
            <div id="content" class="page-header">
                <div class="row">
                    <div class="col-md-4 text-xs-center text-md-left text-nowrap">
                        <h1><i class="page-header-icon ion-ios-paper-outline"></i>FrameworkTest</h1>
                    </div>

                    <hr class="page-wide-block visible-xs visible-sm">

                    <div class="col-xs-12 width-md-auto width-lg-auto width-xl-auto pull-md-right">
                        <a href="#" class="btn btn-primary btn-block"><span class="btn-label-icon left ion-plus-round"></span>Create project</a>
                    </div>

                    <!-- Spacer -->
                    <div class="m-b-2 visible-xs visible-sm clearfix"></div>

                    <form action="" class="page-header-form col-xs-12 col-md-4 pull-md-right">
                        <div class="input-group">
                            <span class="input-group-addon b-a-0 font-size-16"><i class="ion-search"></i></span>
                            <input type="text" placeholder="Search..." class="form-control p-l-0 b-a-0">
                        </div>
                    </form>
                </div>
            </div>
            <div class="inner bg-light lter">
                <h3>Search Form</h3>
                <br>
                <div id="Item">
                    <table class="table">
                        <tr>
                            <th>username</th>
                            <th>password</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>{{ Items.USERNAME }}</td>
                            <td>{{ Items.PASSWORD }}</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <div id="ItemList">
                    <table class="table">
                        <tr>
                            <th>username</th>
                            <th>password</th>
                            <th></th>
                        </tr>
                        <tr v-for="Items in ItemLists">
                            <td>{{ Items.USERNAME }}</td>
                            <td>{{ Items.PASSWORD }}</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <form class="form-horizontal" id="search-form">
                    <div class="form-group form-group-lg">
                        <label class="col-sm-2 control-label">Id</label>
                        <div class="col-sm-10">
                            <input type=text class="form-control" id="username" v-model="schNm">
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" @click="search01" id="btn-search" class="btn btn-primary btn-lg" >Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
	// -----------------------------------------------------------------------------------------
	// Initialize
	require(['jquery'], function($) {
	    pxCom.setLocation('[[${programId}]]','[[${menuId}]]');
	});

    require(["jquery", "Vue", "Axios"], function ($, Vue, axios) {
        /*
        $(document).ready(function ($) {

            $("#search-form").submit(function (event) {

                //button click event
                $('#btn-search').trigger('click');

            });
            $('#btn-search0').click(function(){

                var param = {
                    serviceInfo: {
                        "SERVICE_ID": "CommonCodeImpl",
                        "METHOD_ID": "doExcute"
                    },
                    ds_search: {
                        username: $("#username").val(),
                        email: $("#email").val()
                    }
                };

                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "/doExcute",
                    data: JSON.stringify(param),
                    dataType: 'json',
                    timeout: 100000,
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("X-CSRF-TOKEN", $("#csrf").val());
                    },
                    success: function (data) {
                        console.log("SUCCESS: ", data);
                    },
                    error: function (e) {
                        console.log("ERROR: ", e);
                    },
                    done: function (e) {
                        console.log("DONE");
                        enableSearchButton(true);
                    }
                });
            });
        });
        */

        axios.defaults.headers.common['X-CSRF-TOKEN'] = $("#csrf").val();
        Vue.prototype.$http = axios;

        var param = {
            serviceInfo: {
                "SERVICE_ID": "CommonCode",
                "METHOD_ID": "doExcute"
            },
            ds_search: {
                USERNAME: $("#[[${programId}]] #username").val(),
                EMAIL: $("#[[${programId}]] #email").val(),
                GRP_CD: 'COM_CD'
            }
        };

        var test0 = new Vue({
            el: '#[[${programId}]] #ItemList',
            data: {
                schNm:'',
                ItemLists:{}
            },
            mounted(){
                this.$http.post('/doExcute',
                    {
                        serviceInfo: {
                            "RECV_SVC_CD": "CommonService",
                            "LANG_CD": "KO"
                        },
                        etcMsg: {
                            MSG_CD: 'MSG010101',
                            MSG_ARGS: ['11','22']
                        },
                        ds_search: {
                            USERNAME: this.schNm,
                            GRP_CD:'COM_CD'
                        }
                    },
                    {
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                .then(response => this.ItemLists = response.data.resultData.ds_result)
                .catch(function (error) {
                    console.log(error.message);
                });
                console.log(JSON.stringify(this.ItemLists));
            }
        });

        var test1 = new Vue({
            el: '#[[${programId}]] #content',
            data: {
                schNm:'',
                Items:[]
            },
            methods: {
                search01: function(event){
                    this.$http.post('/doExcute',
                        {
                            serviceInfo: {
                                "RECV_SVC_CD": "CommonService",
                                "LANG_CD": "KO"
                            },
                            ds_search: {
                                USERNAME: this.schNm,
                                GRP_CD:'COM_CD'
                            }
                        },
                        {
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })
                    .then(response => this.Items = response.data.resultData.ds_result[0])
                    .catch(
                        function (messages) {
                            console.log('[ ===== Error ===== ]\n'+messages);
                        }
                    );
                    this.schNm = '';
                    // Prevent the form from submitting via the browser.
                    event.preventDefault();
                }
            }
        });

    });

</script>
</program>
</body>
</html>